* {
	
	font-family: Franklin Gothic Medium;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #1c1912;
	
}

header {
	
	position: fixed;
	display: block;
	height: 4vw;
	width: 100%;
	background-color: #E0a11a;
	z-index: 1;
	
}

header div {
	
	display: block;
	height: 100%;
	width: 80%;
	margin: 0 auto;
	background-color: inherit;
	
}

nav {
	
	width: 100%;
	height: 100%;
	display: table;
	float: left;
	background-color: inherit;
	
}

nav a {
	
	box-sizing: border-box;
	text-decoration: none;
	color: white;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	background-color: inherit;
	transition: 0.3s ease 0s;
	
}

.MainTitle {
	
	font-size: 2vw;
	
}

.MainTitleActive {
	
	color: red;
	border-bottom: 5px solid red;
	
}

nav a:hover {
	
	color: red;
	border-bottom: 5px solid red;
	transform: scale(1.15);
	
}

nav a h1 {
	
	background-color: inherit;
	
}

nav ul {
	
	float: right;
	height: 100%;
	background-color: inherit;
	
}

nav ul a {
	
	display: table;
	height: 100%;
	padding: 0px 20px;
	float: left;
	background-color: inherit;
	transition: 0.3s ease 0s;
	
}

nav ul a li {
	
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	background-color: inherit;
	
}

.TopSpace {
	
	display: block;
	width: 100%;
	height: 4vw;
	
}

.IndexSection {
	
	margin: 0 auto;
	margin-top: 10vh;
	width: 80%;
	margin-bottom: 10vh;
	
}

.IndexSection h1 {
	
	font-size: 3vw;
	box-sizing: border-box;
	color: red;
	border-bottom: 5px solid red;
	
}

.SecondTitle {
	
	text-align: right;
	
}

.IndexSection article {
	
	width: 100%;
	margin-top: 20px;
	font-size: 20px;
	color: white;
	height: 25vh;
	
}

.ArticleContent {
	
	float: left;
	width: 50%;
	
}

.ImageContainer1 {
	
	width: 50%;
	height: 100%;
	float: right;
	background-image: url("../images/1st Picture.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.ImageContainer2 {
	
	width: 49%;
	height: 100%;
	float: left;
	background-image: url("../images/2nd Picture.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.ImageContainer3 {
	
	width: 50%;
	height: 100%;
	float: right;
	background-image: url("../images/3rd Picture.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.ArticleContent p {
	
	font-size: 1.5vw;
	
}

.ArticleContent2 {
	
	float: right;
	width: 50%;
	
}

.ArticleContent2 p {
	
	font-size: 1.5vw;
	
}

.BottomSpace {
	
	width: 100%;
	height: 2vw;
	
	
}

.Facebook {
	
	background: url('../images/sprite.png') no-repeat 0px -54px;
	height: 51px;
	width: 51px;
	
}

.Facebook:hover {
	
	background: url('../images/sprite.png') no-repeat 0px 0px;
	height: 51px;
	width: 51px;
	
}

.Youtube {
	
	background: url('../images/sprite.png') no-repeat -105px -54px;
	height: 51px;
	width: 51px;
	
}

.Youtube:hover {
	
	background: url('../images/sprite.png') no-repeat -105px 0px;
	height: 51px;
	width: 51px;
	
}

footer {
	
	position: fixed;
	width: 100%;
	right: 0;
	left: 0;
	bottom: 0;
	height: 2vw;
	background-color: #E0a11a;
	
}

.Page1Section {
	
	margin: 0 auto;
	margin-top: 10vh;
	width: 80%;
	margin-bottom: 10vh;
	
}

.Page1MainTitle {
	
	font-size: 3vw;
	box-sizing: border-box;
	color: red;
	border: 5px solid red;
	text-align: Center;
	background-color: white;
	
}

.Page1Section article {
	
	width: 100%;
	height: 80%;
	border: 5px solid red;
	border-top: none;
	
}

.Page2Section article {
	
	width: 100%;
	height: 80%;
	border: 5px solid red;
	border-top: none;
	
}

.ArticleTextContent h1 {
	
	padding: 25px 25px 10px 25px;
	font-size: 1.75vw;
	color: red;
	
}

.Page1Section .ArticleTextContent {
	
	width: 100%;
	
}

.Page2Section .ArticleTextContent {
	
	width: 100%;
	
}

.ArticleTextContent p {
	
	color: red;
	padding: 25px;
	font-size: 0.95vw;
	
}

.Page1Active {
	
	color: red;
	border-bottom: 5px solid red;
	
}

.Page1Video {

	display: block;
	margin: 0 auto;
	width: 50%;
	height: 100%;
	
}

.VideoTopSpace {
	
	width: 100%;
	height: 5vh;
	
}

.Page2Active {
	
	color: red;
	border-bottom: 5px solid red;
	
}

.Page2Section {
	
	margin: 0 auto;
	margin-top: 10vh;
	width: 80%;
	margin-bottom: 10vh;
	background-color: red;
	
}

.Page2MainTitle {
	
	font-size: 3vw;
	box-sizing: border-box;
	color: red;
	border: 5px solid red;
	text-align: Center;
	background-color: white;
	
}

.FirstTopicHover p {
	
	display: none;
	
}

.FirstTopicHover:hover p {
	
	display: inline-block;
	
}

.SecondTopicHover p {
	
	display: none;
	
}

.SecondTopicHover:hover p {
	
	display: inline-block;
	
}
.ThirdTopicHover p {
	
	display: none;
	
}

.ThirdTopicHover:hover p {
	
	display: inline-block;
	
}

.Reminder {
	
	color: red;
	text-align: center;
	margin-top: 5px;
	
}

.Page3Active {
	
	color: red;
	border-bottom: 5px solid red;
	
}

.Page3Section {
	
	margin: 0 auto;
	margin-top: 10vh;
	width: 80%;
	margin-bottom: 10vh;
	
}

.Page3MainTitle {
	
	font-size: 3vw;
	box-sizing: border-box;
	color: red;
	border: 5px solid red;
	text-align: Center;
	background-color: white;
	
}

.Page3Section article {
	
	width: 100%;
	height: 80%;
	border: 5px solid red;
	border-top: none;
	
}

.TitleContainer {
	
	width: 80%;
	margin: 0 auto;
	display: block;
	
}

.TitleContainer h1 {
	
	border-bottom: 5px solid red;
	padding: 25px 25px 10px 25px;
	font-size: 1.75vw;
	color: #abdbe3;
	
}

a:link {
	
	text-decoration: none;
	
}

.Page3Section article p {
	
	width: 80%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 30px;
	color: red;
	font-size: 1vw;
	
}

.Page4Section {
	
	margin: 0 auto;
	margin-top: 10vh;
	width: 80%;
	margin-bottom: 10vh;
	background-color: red;
	
}

.Page4MainTitle {
	
	font-size: 3vw;
	box-sizing: border-box;
	color: red;
	border: 5px solid red;
	text-align: Center;
	background-color: white;
	
}

.Page4Active {
	
	color: red;
	border-bottom: 5px solid red;
	
}

.Page4Section article {
	
	width: 100%;
	height: 80%;
	border: 5px solid red;
	border-top: none;
	
}

.Page4ContentContainer h1 {
	
	border-bottom: 5px solid red;
	padding: 25px 25px 10px 25px;
	font-size: 1.75vw;
	color: red;
	
}

.Page4ContentContainer {
	
	width: 80%;
	margin: 0 auto;
	
}

.Page4ContentContainer p {

	margin: auto;
	padding-top: 10px;
	padding-bottom: 30px;
	color: red;
	font-size: 1vw;
	
}